
*{
    margin: 0;
    padding: 0;
}

header{ 
    display: flex;
}
header h2{
    position: absolute; 
    margin: 200px 0 0 390px;
    text-align: center;
    font-size: 30px;
    color: white;
    letter-spacing: 3px;
    line-height: 1.3;
}
video{
    position: absolute;
    width: 100%;
    height: 500px;
    object-fit:fill;
}
.logo{
    position: relative;
    width: 50%;
    padding: 25px 95px;
}
    
.logo a{
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
}
.a-bottom:hover{
    border-bottom: 1px solid red;
}
    
.logo a span{
    color: #e4461f;
}
    
.content-nav{
     display: flex;
     width: 50%;
     padding: 20px 60px;
    
}
.nav{
    
    width:60%;
    display: flex;
    
}
.nav ul{
    display:flex;
        
    
}
.nav ul li{
    display: flex;
    list-style: none;
    margin-right: 30px;
    
}
.nav ul li a{
    text-decoration: none;
    color: white;
    line-height: 50px;
    position: relative;
    right: 30px;
}
    
.nav ul li a:hover{
    color: #e4461f;
}   

/*Slider - Home */
#slides {
    position: relative;
    height: 450px;
    padding: 0px;
    margin: 2px 0 0 0;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.slide {
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}

.slide:nth-of-type(1) {
    background-image: url("../assets/Cars-and-DrivingImage.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.slide:nth-of-type(2) {
    background-image: url("../assets/background4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.slide:nth-of-type(3) {
    background-image: url("../assets/feedback4.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* #slideshow {
    position: relative;
}
#slideshow div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
}

.TopSection1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%; 
    height: 390px;
    background-image: url("../assets/background4.jpg");
    background-size: 100% 100%;
}
.TopSection0{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%; 
    height: 390px;
    background-image: url("../assets/Cars-and-DrivingImage.jpg");
    background-size: 100% 100%;
}
.TopSection2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%; 
    height: 390px;
    background-image: url("../assets/feedback4.png");
    background-size: 100% 100%;
} */
 .h4-section{
    color: #e4461f;
    width: auto;
    text-align: center;
}
.h1-section{
    color: #ffffff;
    width: auto;
    text-align: center;
    font-size: 25px;
    letter-spacing: .2rem;
}
/*DetialSection */
.detailSection{
    width: 100%;
    height: 390px;
    margin: 410px 0 0 0;
    display: flex;
    justify-content: space-around;
    background-image: url("../assets/contactForm2.jpg");
}
.detailSection .foto1{
    width: 400px;
    height: 310px;
    background-image: url("../assets/budget.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 10px 0 10px 0;
    border-radius: 20px;
}
.detailSection .foto2{
    width: 400px;
    height: 310px;
    background-image: url("../assets/onlineRent.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 40px 0 10px 0;
    border-radius: 20px;


}
.detailSection .foto3{
    width: 400px;
    height: 310px;
    background-image: url("../assets/process.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 70px 0 10px 0;
    border-radius: 20px;

}

/*Offers Section */
.offers{
    margin-top: 2px;
    width: 97%;
    margin-left: 20px;
    height: 580px;
    border-radius: 30px;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(233, 233, 233);
    justify-content: space-around;
    background-image: url("../assets/background8.jpg");
    background-size: 100% 100%;
}

.offers1{
    border-radius: 30px;    
    width: 300px;
    height: 500px;
    margin-top: 60px;
    background-image: url("../assets/handImage.jpg");
    background-size: contain;
    background-repeat: no-repeat ;
    background-size: 100% 55%;
    background-color: rgb(52, 194, 194);

}
.offers1 h2{
    text-align: center;
    margin-top: 280px;
}
.offers1 p{
    text-align: center;
    font-size: 15px;
    color: rgb(90, 90, 90);
    margin-left: 40px;
    margin-right: 40px;
    margin: 20px 40px 0 40px;
}
.offers1 button{
    text-align: center;
    margin: 20px auto;
    display: block;
    width: 200px;
    height: 40px;
    border: 2px solid #e4461f;
    border-radius: 15px;
    background-color: #e4461f;   
    color: white; 

}
.offers2{
    border-radius: 30px;    
    margin-top: 30px;
    width: 300px;
    height: 500px;
    background-image:url("../assets/golf7.jpg");
    background-size: contain;
    background-repeat: no-repeat ;
    background-size: 100% 55%;
    background-color: rgb(52, 194, 194);

}
.offers2 h2{
    text-align: center;
}
.offers2 p{
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    color: rgb(90, 90, 90);
    margin-left: 40px;
    margin-right: 40px;
}

.offers2 button{
    text-align: center;
    margin: 20px auto;
    display: block;
    width: 200px;
    height: 40px;
    border: 2px solid #e4461f;
    border-radius: 15px;
    background-color: #e4461f;   
    color: white; 

}
.offers3{
    border-radius: 30px;    
    background-image:url("../assets/jeep.jpeg");
    width: 300px;
    height: 500px;
    margin-top: 60px;
    background-size: contain;
    background-repeat: no-repeat ;
    background-size: 100% 55%;
    background-color: rgb(52, 194, 194);
    
}
.offers3 h2{
    text-align: center;
}
.offers3 p{
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    color: rgb(90, 90, 90);
    margin-left: 40px;
    margin-right: 40px;
}
.offers3 button{
    text-align: center;
    margin: 45px auto;
    display: block;
    width: 200px;
    height: 40px;
    border: 2px solid #e4461f;
    border-radius: 15px;
    background-color: #e4461f;   
    color: white; 
}

/*CONTACT FORM*/

.formBox{
    width: 500px;
    height: 500px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("../assets/contactForm3.jpg");
    background-size: 100% 100%;
    border-radius: 30px;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
form textarea{
    padding: 4px 15px 4px 15px;
    width: 350px;
    margin: 0 auto;
    border-radius: 30px;  
    border: 2px solid #f3f1f1; 
}
form label{
    margin: 0 auto;
}
form span{
    margin: 0 auto; 
}
.inputi{
    width: 350px;
    height: 45px;
    margin: 0 auto ;
    padding: 1em;
} 
.formBox h1{
    align-self: center;
    margin-bottom: 50px;
    
}
.submit{
    width: 120px;
    height: 50px;
    margin: 0 auto ;  
    background-color: rgb(17, 17, 158);
}
.formBox input{
    color: rgb(97, 95, 94);
    border-radius: 30px;  
    border: 2px solid #f3f1f1; 
}
.bodyContact{
    height: 100%;
    background-image: url("../assets/contactForm.jpg");
    background-size: 100% 100%;
}

/* Footer */

footer{
    bottom: 0;
    display: flex;
}

.footer-distributed{
    background-color:#2a2f2d;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 2px;
}
.footer-distributed .footer-l{
    display: inline-block;
    vertical-align: top;
}
.footer-distributed .footer-center{
    display: inline-block;
    vertical-align: top;
    left: 5%;
}
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}
.footer-distributed .footer-l{
    width:30%;
}
.footer-distributed h3{
    color:#ffffff;
    font: normal 35px;
    margin: 0;
}
.footer-distributed h3 span{
    color: #e4461f;
}
.footer-distributed .footer-links{
    color: #ffffff;
    margin: 20px 0 12px;
}
.footer-distributed .footer-links a{
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}
.footer-distributed .footer-company-name{
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-center{
    width: 35%;
}
.footer-distributed .footer-center i{
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}
.footer-distributed .footer-center p{
    display: inline-block;
    color:#ffffff;
    vertical-align: middle;
    margin: 0;
}
.footer-distributed .footer-center p span{
     display: block;
     font-weight: normal;
     font-size: 14px;
     line-height: 2; 
}
.footer-distributed .footer-center p a{
    color: #e4461f;
    text-decoration: none;
}
.footer-distributed .footer-right{
    width: 30%;
}
 .footer-distributed .footer-company-about{
     line-height: 20px;
     color:#92999f;
     font-size: 13px;
     font-weight: normal;
     margin: 0;
 }
 .footer-distributed .footer-company-about span{
     display: block;
     color: #ffffff;
     font-size: 18px;
     font-weight: bold;
     margin-bottom: 20px;
 }
 .footer-distributed .footer-icons{
     margin-top: 25px;
 }
 .footer-distributed .footer-icons a{
     display: inline-block;
     width: 35px;
     height: 35px;
     cursor: pointer;
     background-color: #33383b;
     border-radius: 2px;
     font-size: 20px;
     color: #ffffff;
     text-align: center;
     line-height: 35px;
     margin-right: 3px;
     margin-bottom: 5px;
 }
 .footer-distributed .footer-icons a:hover{
     background-color: #e4461f;
 }
.footer-links a:hover{
    color: #e4461f;
 }
    
 /*LoginForm & Register Form*/
 .login-body{
    background-image: url("../assets/login6.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 2em 3em;
 }
 .login-body .loginTop{
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
 }
 .register-body .loginTop{
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
 }
 .login-body span{
    font-size: 30px;
    color:#e4461f;   
 }
 .register-body span{
    font-size: 30px;
    color:#e4461f;   
 }
 .register-body span{
    font-size: 30px;
    color:#e4461f;   
 }
 .register-body{
    background-image: url("../assets/login7.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 2em 3em;
 }
 .login-box{
    background-color: rgba(224, 93, 5, 0.5);
    width: 500px;
    height: 450px;
    margin: 35px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    background-image: url("../assets/login11.jpg");
 }
 .register-box{
    background-color: rgba(224, 93, 5, 0.5);
    width: 500px;
    height: 899px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    background-image: url("../assets/login11.jpg");
 }
 .login-box h1{
    align-self: center;
 }
 .login-box label{
    align-self: center;
 }
 .login-box input{
    align-self: center;
    border-color: #e4461f;
    border-radius: 30px;
 }

 .register-box h1{
    align-self: center;
 }
 .register-box label{
    align-self: center;
 }
 .register-box input{
    align-self: center;
    border-color: #e4461f;
    border-radius: 30px;
 }
 